<footer class="footer">
  <div class="footer__about-us about-us">
    <h2 class="about-us__title">Ellusive</h2>
    <p class="about-us__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis, urna vel fringilla sagittis, nunc dolor pellentesque mauris,
      non feugiat odio dui in dui. Aenean ut facilisis dui. Etiam in rutrum nisi. Quisque porta scelerisque est, sit amet interdum nisi semper in.
      Etiam eu hendrerit nibh. Aenean porttitor molestie accumsan. Sed fringilla libero nec tellus tempor tristique. Morbi ullamcorper vitae urna
      a semper… <a class="about-us__description-link" href="#">read more »</a>
    </p>
    <address class="about-us__contacts contacts">
      <ul class="contacts__fields">
        <li>Street Name & Number</li>
        <li>Town</li>
        <li>Postcode/Zip</li>
      </ul>
      <ul class="contacts__values">
        <li>Mon. - Fri. 9:00am - 7:00pm</li>
        <li>+00 (123) 456 7890</li>
        <li>info@domain.com</li>
      </ul>
    </address>
  </div>
  <div class="footer__location">
    <h2 class="footer__location-title">We're here</h2>
    <div class="footer__location-map"></div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom-copyright">
      Copyright © 2009 - 2019 Ellusive. All Rights Reserved
    </div>
    <ul class="footer__bottom-links">
      <li><a href="#">Link 1</a>/</li>
      <li><a href="#">Link 2</a>/</li>
      <li><a href="#">Link 3</a>/</li>
      <li><a href="#">Link 4</a>/</li>
      <li><a href="#">Link 5</a>/</li>
    </ul>
  </div>
</footer>
