@import '../../scss/variables';
@import '../../scss/mixins';

.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  grid-template-areas:
    '. about-us about-us about-us location location location .'
    'bottom bottom bottom bottom bottom bottom bottom bottom';
  background-color: $ultra-dark-grey;
  color: $dark-grey;

  .about-us {
    grid-area: about-us;

    &__title {
      font-size: 2.5rem;
      font-weight: $font-weight-light;
    }

    &__title:after {
      display: block;
      content: '';
      width: 10%;
      border: 2px solid $accent-color;
    }

    &__description {
      line-height: 1.5;
    }

    &__description-link {
      @include link;
    }
  }

  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5;
    font-size: 0.85rem;

    &__fields {
      padding-left: 0;
    }

    &__values {
      padding-left: 0;
    }
  }

  &__location {
    grid-area: location;
  }

  &__location-title {
    font-size: 2.5rem;
    font-weight: $font-weight-light;
  }

  &__location-title:after {
    display: block;
    content: '';
    width: 10%;
    border: 2px solid $accent-color;
  }

  &__location-map {
    height: 250px;
    border-radius: 10px;
    background-color: $light-grey;
  }

  &__bottom {
    display: grid;
    grid-area: bottom;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      '. copyright copyright copyright links links links .';
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid $dark-grey;
  }

  &__bottom-copyright {
    grid-area: copyright;
    margin-right: 50px;
  }

  &__bottom-links {
    display: flex;
    grid-area: links;
    margin: 0;
    padding-left: 0;
  }
}
