<header class="header">
  <div class="header-logo">
    <h1 class="header-logo__title">
      <a href="#">Ellusive</a>
    </h1>
    <p class="header-logo__subtitle">Premium Website Template</p>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list__item">Home</li>
      <li class="header-nav-list__item">Pages
        <ul class="header-nav-list">
          <li class="header-nav-list__item">Landing Pages</li>
          <li class="header-nav-list__item">Custom Pages</li>
          <li class="header-nav-list__item">Forms</li>
          <li class="header-nav-list__item">Navigation</li>
          <li class="header-nav-list__item">Services</li>
        </ul>
      </li>
      <li class="header-nav-list__item">Elements</li>
      <li class="header-nav-list__item">Blog</li>
      <li class="header-nav-list__item">Gallery</li>
    </ul>
  </nav>
</header>