@import '../../scss/variables';

.header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
  grid-template-areas: 'logo nav';
  padding: 0 25px;
  background-color: $white;
}

.header-logo {
  grid-area: logo;
  color: $dark-grey;
  margin: 15px 0;

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: $font-weight;
  }

  &__subtitle {
    margin: 0;
  }
}

.header-nav {
  grid-area: nav;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list {
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    color: $dark-grey;

    &:hover {
      transition: all 0.3s ease;
      color: $light-grey;
      cursor: pointer;
    }
  }

  ul li {
    display: none;
  }

  &__item:hover ul li {
    display: block;
    animation: nav-menu 500ms forwards;
  }

  &__item:hover ul {
    position: absolute;
    padding: 10px;
    background-color: $white;
  }
}

@keyframes nav-menu {
  0% {
    opacity: 0;
    top: 5px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
