<div class="advantages">
  <div class="advantages-item">
    <div class="advantages-item__image-wrapper">
      <img src="https://uploads-ssl.webflow.com/5627cd213e60d87f49d13b37/5627cd21bd54f17f49cc212c_Icon-lamp.png" width="100">
    </div>
    <h2 class="advantages-item__title">
      Consequam Quam
    </h2>
    <div class="advantages-item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nulla? Ex doloremque quaerat corporis culpa!
    </div>
  </div>
  <div class="advantages-item">
    <div class="advantages-item__image-wrapper">
      <img src="http://2018.igem.org/wiki/images/d/de/T--MichiganState--emailicon.jpg" width="100">
    </div>
    <h2 class="advantages-item__title">
      Consequam Quam
    </h2>
    <div class="advantages-item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nulla? Ex doloremque quaerat corporis culpa!
    </div>
  </div>
  <div class="advantages-item">
    <div class="advantages-item__image-wrapper">
      <img src="https://cdn.pergo.com/-/media/images/pergo/shared/cta%20blocks/location-icon-white.ashx?v=57ff88b4042243db8f1ff2fe8358c3dd&h=269&w=269&la=en-GB&hash=4C5AAD559E10D4131DDCC452B10FF402549B3534" width="100">
    </div>
    <h2 class="advantages-item__title">
      Consequam Quam
    </h2>
    <div class="advantages-item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nulla? Ex doloremque quaerat corporis culpa!
    </div>
  </div>
  <div class="advantages-item">
    <div class="advantages-item__image-wrapper">
      <img src="https://ya-webdesign.com/images/white-icon-png-4.png" width="100">
    </div>
    <h2 class="advantages-item__title">
      Consequam Quam
    </h2>
    <div class="advantages-item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, nulla? Ex doloremque quaerat corporis culpa!
    </div>
  </div>
</div>
