@import '../../scss/variables';

.advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 20px;
  margin-top: -5px;
  padding: 50px 0;
  background-color: $accent-color;
}

.advantages-item {
  width: 250px;
  margin: 20px;
  color: $white;
  text-align: center;
  
  &__image-wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    background-color: $accent-color-dark;
    box-shadow: 0 0 10px $black;
  }

  &__title {
    font-weight: $font-weight;
  }
}