<div class="slogan">
  <h2 class="slogan__title">
    Lorem Ipsum Dolor Sit Amet Consectetur
  </h2>
  <p class="slogan__subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="slogan__subtitle-link">View More Here</a>
  </p>
</div>
<ul class="partners">
  <li class="partners-item">
    <a href="#">
      <img class="partners-item__image" src="https://vignette.wikia.nocookie.net/tvpedia/images/9/9e/Hallmark.png/revision/latest?cb=20111122114405&path-prefix=ru">
    </a>
  </li>
  <li class="partners-item">
    <a href="#">
      <img class="partners-item__image" src="https://vignette.wikia.nocookie.net/logopedia/images/7/7b/Bentley_logo.png/revision/latest?cb=20150206164539">
    </a>
  </li>
  <li class="partners-item">
    <a href="#">
      <img class="partners-item__image" src="http://www.logospng.com/images/42/bose-invites-you-to-meet-the-steves-flightchops-42032.png">
    </a>
  </li>
  <li class="partners-item">
    <a href="#">
      <img class="partners-item__image" src="https://4vector.com/i/free-vector-kettler-sport-logo_091081_Kettler_Sport_logo.png">
    </a>
  </li>
</ul>
