@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  display: block;
  padding: 50px 0;
  background-color: $ultra-light-gray;
}

.slogan {
  color: $dark-grey;
  text-align: center;

  &__title {
    font-size: 2.5rem;
    font-weight: $font-weight-light;
  }

  &__subtitle-link {
    @include link;
  }
}

.partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
  padding: 0;
}

.partners-item {
  margin: 0 10px;

  &__image {
    width: 220px;
    height: 110px;
  }
}
