@import './variables';

@mixin button() {
  margin: 0 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  color: $white;
  font-size: 1.1rem;
  outline: 0;
}

@mixin link() {
  color: $accent-color;

  &:hover {
    text-decoration: underline;
    color: darken($accent-color, 20%);
  }
}
