// Default colors
$accent-color: #50C6C6;
$accent-color-dark: darken($accent-color, 15%);
$dark-grey: #777777;
$ultra-dark-grey: #232323;
$light-grey: #d7d7d7;
$ultra-light-gray: #F3F3F5;
$white: #ffffff;
$black: #000000;

$border-radius: 4px;

// Font-family
$font-family-default: 'Open Sans', sans-serif;
$font-weight-light: 300 !default;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;
