<app-header></app-header>
<app-slider></app-slider>
<app-advantages></app-advantages>
<app-popular-articles></app-popular-articles>
<app-our-product></app-our-product>
<app-our-clients></app-our-clients>
<app-our-team></app-our-team>
<app-subscribe-form></app-subscribe-form>
<app-footer></app-footer>
