@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: $accent-color;
}

.preview {
  display: flex;
  align-items: center;
  color: $white;
}

.subscribe-form {
  display: flex;
  align-items: center;
  padding: 20px 0;

  &__input {
    height: 50px;
    width: 60%;
    border: none;
    border-radius: 8px;
    outline: 0;
    padding: 0 5px;
    background-color: $white;
    color: $accent-color;
    font-size: 1.5rem;
  }

  &__submit-btn {
    @include button;

    height: 50px;
    width: 30%;
    margin-left: 15px;
    color: #50C6C6;
    background-color: #287B7B; 
    text-transform: uppercase;
    transition: color 0.5s ease;

    &:hover {
      color: $white;
    }
  }
}
