<h2 class="preview">Subscribe To Our Newsletter</h2>

<form class="subscribe-form">
  <input class="subscribe-form__input" type="text">
  <button class="subscribe-form__submit-btn" type="submit">Submit</button>
</form>
