@import '../../scss/variables';

.popular {
  min-height: 400px;
  padding: 50px 0;
  background-image: url(https://images.pexels.com/photos/1754005/pexels-photo-1754005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: -200px;
}

.slogan {
  text-align: center;
  color: $white;

  &__title {
    font-size: 3rem;
  }
}

.popular-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &-item {
    width: 300px;
    margin: 20px;

    &__image img {
      display: block;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      margin: 10px 0;
      color: $accent-color;
      font-size: 1.75rem;
      text-align: center;
    }

    &__description {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 0;
      color: $white;
    }

    &__description-item {
      display: flex;
      align-items: center;
      margin: 5px;
    }

    .icon {
      margin: 0 10px;
    }
  }
}
