<div class="popular">
  <div class="slogan">
    <h2 class="slogan__title">
      Lorem Ipsum Dolor Sit Amet Consectetur
    </h2>
    <p class="slogan__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum.
    </p>
  </div>

  <div class="popular-articles">
    <article class="popular-articles-item">
      <picture class="popular-articles-item__image">
        <img src="https://images.glavred.info/2015_12/1449325988-27189328.jpg">
      </picture>
      <div class="popular-articles-item__title">
        Fusce Quis Feugiat 1
      </div>
      <ul class="popular-articles-item__description">
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if1.png'" class="icon">06.04.2018</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if2.png'" class="icon">By Admin</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if3.png'" class="icon">26 Comments</li>
      </ul>
    </article>

    <article class="popular-articles-item">
      <picture class="popular-articles-item__image">
        <img src="https://media.wmagazine.com/photos/5b1feed3bced5208ef6754af/4:3/w_1536/donald-trump-kim-jong-un-summit.jpg">
      </picture>
      <div class="popular-articles-item__title">
        Fusce Quis Feugiat 2
      </div>
      <ul class="popular-articles-item__description">
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if1.png'" class="icon">06.04.2018</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if2.png'" class="icon">By Admin</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if3.png'" class="icon">26 Comments</li>
      </ul>
    </article>

    <article class="popular-articles-item">
      <picture class="popular-articles-item__image">
        <img src="https://images.unian.net/photos/2018_11/1543312330-4796.JPG?0.8951803214157137">
      </picture>
      <div class="popular-articles-item__title">
        Fusce Quis Feugiat 3
      </div>
      <ul class="popular-articles-item__description">
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if1.png'" class="icon">06.04.2018</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if2.png'" class="icon">By Admin</li>
        <li class="popular-articles-item__description-item"><img [src]="'assets/img/if3.png'" class="icon">26 Comments</li>
      </ul>
    </article>
  </div>
</div>
