
@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 10px;
}

.product-image {
  width: 100%;
}

.product-description {
  padding: 0 40px;
  color: $dark-grey;

  &__title {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: $font-weight-light;
  }

  &__title:after {
    display: block;
    content: '';
    width: 10%;
    border: 2px solid $accent-color;
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: $font-weight-light;
    line-height: 1.5;
  }

  &__offer-list {
    padding-left: 25px;
    list-style-image: url('../../../assets/img/tick.svg');
  }

  .offer-list {
    &__item {
      margin-top: 10px;
    }
  }

  .description-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    &__buy {
      @include button;
      background-color: $accent-color;
    }

    &__sell {
      @include button;
      background-color: darken($light-grey, 20%);
    }
  }
}
