<img class="product-image" src="https://cdn.dribbble.com/users/31731/screenshots/384224/attachments/20536/imac-template.png">

<div class="product-description">
  <h2 class="product-description__title">Lorem Ipsum Dolor Sit Amet, Consectetur</h2>
  <p class="product-description__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra justo.</p>
  <ul class="product-description__offer-list offer-list">
    <li class="offer-list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id pharetra</li>
    <li class="offer-list__item">Lorem ipsum dolor sit amet, consectetur.</li>
    <li class="offer-list__item">Lorem ipsum dolor sit amet, consectetur.</li>
    <li class="offer-list__item">Lorem ipsum dolor sit amet, consectetur vivamus.</li>
  </ul>
  <div class="description-controls">
    <button class="description-controls__buy">Lorem Ipsum</button>
    <button class="description-controls__sell">Dolor Sit Amet</button>
  </div>
</div>
