<div class="slogan">
  <h2 class="slogan__title">
    The Strong Team Behind This Company !
  </h2>
  <p class="slogan__subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a class="slogan__subtitle-link" href="#">View More Here</a>
  </p>
</div>
<ul class="team">
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="https://www.indiafilings.com/images/one-person-company.png">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="https://stickeroid.com/uploads/pic/fx0n217l-full/e27c24ef7972f64ad0cd52330373b9a2c676bf78.png">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="https://secure.gravatar.com/avatar/b6bfeb565e3621d0b341914188789a13?s=400&d=mm&r=g">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="https://carwad.net/sites/default/files/happy-person-picture-130535-9928634.png">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="https://shkolazhizni.ru/img/content/i129/129410_or.jpg">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
  <li class="team__employee employee">
    <a href="#" class="employee__image-wrapper">
      <img class="employee__image" src="http://www.transparentpng.com/download/happy-person/ow7OmE-happy-person-cut-out-pic.png">
    </a>
    <h4 class="employee__name">Name</h4>
    <p class="employee__job">Job Title</p>
  </li>
</ul>