
@import '../../scss/variables';
@import '../../scss/mixins';

:host {
  padding: 50px 0;
  background-color: $ultra-light-gray;
}

.slogan {
  color: $dark-grey;
  text-align: center;

  &__title {
    font-size: 2.5rem;
    font-weight: $font-weight-light;
  }

  &__subtitle-link {
    @include link;
  }
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.employee {
  margin: 20px;
  text-align: center;

  &__image-wrapper {
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid $accent-color;
    border-radius: 50%;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  &__name {
    margin-bottom: 0;
  }

  &__job {
    margin-top: 15px;
  }
}
