@import './app/scss/variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family-default;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
